.h2 {
    display: flex;
    justify-content: center;
    background: rgba(209, 209, 209, 1);
    color: blue;
    font-size: 50px;
}

.timer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    background: rgba(209, 209, 209, 1);
     }
  
  .field {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
  }
  
  .field .value {
    font-size: 80px;
    color: #ccc;
    background-color: #333;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.7);
  }
  
  .field .label {
    text-transform: lowercase;
  }